<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-permis-de-conduit-heading" jhiTranslate="jhipsterApp.permis_de_conduit.home.createOrEditLabel">Create or edit a Permis De Conduit</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!permis_de_conduit.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="permis_de_conduit.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterApp.permis_de_conduit.num_permis" for="field_num_permis">Num Permis</label>
                    <input type="text" class="form-control" name="num_permis" id="field_num_permis"
                        [(ngModel)]="permis_de_conduit.num_permis" required/>
                    <div [hidden]="!(editForm.controls.num_permis?.dirty && editForm.controls.num_permis?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.num_permis?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterApp.permis_de_conduit.copie_permis" for="field_copie_permis">Copie Permis</label>
                    <div>
                        <img [src]="'data:' + permis_de_conduit.copie_permisContentType + ';base64,' + permis_de_conduit.copie_permis" style="max-height: 100px;" *ngIf="permis_de_conduit.copie_permis" alt="permis_de_conduit image"/>
                        <div *ngIf="permis_de_conduit.copie_permis" class="form-text text-danger clearfix">
                            <span class="pull-left">{{permis_de_conduit.copie_permisContentType}}, {{byteSize(permis_de_conduit.copie_permis)}}</span>
                            <button type="button" (click)="clearInputImage('copie_permis', 'copie_permisContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_copie_permis" (change)="setFileData($event, permis_de_conduit, 'copie_permis', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                    </div>
                    <input type="hidden" class="form-control" name="copie_permis" id="field_copie_permis"
                        [(ngModel)]="permis_de_conduit.copie_permis" />
                    <input type="hidden" class="form-control" name="copie_permisContentType" id="field_copie_permisContentType"
                        [(ngModel)]="permis_de_conduit.copie_permisContentType" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
